@import url("chrome://global/skin/in-content/common.css");

table {
  font-family: sans-serif;
  font-size: .85em;
  border-spacing: 0;
  background-color: var(--in-content-box-background);
}

thead, #tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  cursor: default;
}

thead > tr > td {
  padding: 7px 10px 4px;
  border: none;
  background-color: var(--in-content-box-background-hover);
  text-align: center;
}

thead > tr > td:not(:first-child) {
  border-inline-start-width: 1px;
  border-inline-start-style: solid;
  border-image: linear-gradient(transparent 0%, transparent 20%, #c1c1c1 20%, #c1c1c1 80%, transparent 80%, transparent 100%) 1 1;
  border-bottom: 1px solid var(--in-content-border-color);
}

/* Take scrollbar width into account for aligning 'Memory'  */
thead td:nth-child(4) {
  width: 100px;
  padding-right: 25px;
}

/* Avoid scrolling the header */
#tbody {
  display: block;
  overflow-y: scroll;
  height: 55vh;
  border-top: 1px solid var(--in-content-border-color);
}

#tbody > tr:hover {
  background-color: var(--in-content-item-hover);
}

#tbody > tr[active=true] > td {
  background-color: rgba(52, 95, 235, 0.2);
}

#tbody > tr[selected=true] > td {
  background-color: var(--in-content-item-selected);
  color: var(--in-content-selected-text);
}

#tbody > tr[idle=true] > td {
  color: #bbb;
}

tbody tr:nth-child(even) {
  background-color: rgba(192, 192, 194, 0.2);
}

td {
  padding: 5px 10px;
  min-height: 2em;
  color: var(--in-content-text-color);
  max-width: 50vw;
  overflow: hidden;
  white-space: nowrap;
}

td:last-child {
  text-overflow: ellipsis;
}

td:nth-child(1) {
  overflow: clip;
  min-width: 110px;
  text-align: left;
}

td:nth-child(2) {
  width: 55px;
  text-align: right;
}

td:nth-child(3) {
  width: 60px;
  text-align: right;
}

td:nth-child(4) {
  width: 85px;
  text-align: right;
}

#process-details {
  height: 40vh;
  margin: 0;
  border-top: 1px solid #ccc;
  background-color: var(--in-content-box-background-hover);
}
