@import url("chrome://global/skin/in-content/common.css");

html, body {
  min-width: 300px;
}

table {
  font-family: sans-serif;
  font-size: .85em;
  border-spacing: 0;
  background-color: var(--in-content-box-background);
}

thead, tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  cursor: default;
}

thead > tr > td {
  padding: 7px 10px 4px;
  border: none;
  background-color: var(--in-content-box-background-hover);
  text-align: center;
}

thead > tr > td:not(:first-child) {
  border-inline-start-width: 1px;
  border-inline-start-style: solid;
  border-image: linear-gradient(transparent 0%, transparent 20%, #c1c1c1 20%, #c1c1c1 80%, transparent 80%, transparent 100%) 1 1;
  border-bottom: 1px solid var(--in-content-border-color);
}

/* Avoid scrolling the header */
tbody {
  display: block;
  overflow-y: scroll;
  border-top: 1px solid var(--in-content-border-color);
}

tbody > tr:hover {
  background-color: var(--in-content-item-hover) !important;
}

tbody > tr[active=true] > td {
  background-color: rgba(52, 95, 235, 0.2);
}

tbody > tr[selected=true] > td {
  background-color: var(--in-content-item-selected);
  color: var(--in-content-selected-text);
}

tbody > tr[idle=true] > td {
  color: #bbb;
}

tbody tr:nth-child(even) {
  background-color: rgba(192, 192, 194, 0.2);
}

td {
  padding: 5px 10px;
  min-height: 2em;
  color: var(--in-content-text-color);
  max-width: 50vw;
  overflow: hidden;
  white-space: nowrap;
}

td:last-child {
  text-overflow: ellipsis;
}

/* Take scrollbar width into account for aligning 'Memory'  */
#processes-table thead td:nth-child(4) {
  width: 95px;
  padding-right: 25px;
}

#processes-table tbody {
  height: 55vh;
}

#processes-table td:nth-child(1) {
  overflow: clip;
  min-width: 110px;
  text-align: left;
}

#processes-table td:nth-child(2) {
  width: 55px;
  text-align: right;
}

#processes-table td:nth-child(3) {
  width: 60px;
  text-align: right;
}

#processes-table td:nth-child(4) {
  width: 80px;
  text-align: right;
}

/* Take scrollbar width into account for aligning 'Memory'  */
#pages-table thead td:nth-child(2) {
  width: 75px;
  padding-right: 25px;
}

#pages-table tbody {
  height: 29vh;
}

#pages-table td:nth-child(1) {
  overflow: clip;
  min-width: 110px;
  text-align: left;
}

#pages-table tbody td:nth-child(1):hover {
  text-decoration: underline;
  cursor: pointer;
}

#pages-table td:nth-child(2) {
  width: 65px;
  text-align: center;
}

/* Take scrollbar width into account for aligning 'Memory'  */
#threads-table thead td:nth-child(3) {
  width: 80px;
  padding-right: 25px;
}

#threads-table tbody {
  height: 29vh;
}

#threads-table td:nth-child(1) {
  overflow: clip;
  min-width: 110px;
  text-align: left;
}

#threads-table td:nth-child(2) {
  width: 85px;
  text-align: right;
}

#threads-table td:nth-child(3) {
  width: 65px;
  text-align: right;
}

.tab {
  font-size: 0.85em;
  overflow: hidden;
}

.tab button {
  margin: 5px;
  background-color: inherit;
  cursor: pointer;
  padding: 2px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #eee;
}

.tab button[active=true] {
  background-color: #ddd;
}

.tabcontent {
  display: none;
  padding: 0px 10px;
}

.tabcontent[active=true] {
  display: block;
}

.tabcontent p {
  font-weight: bold;
}

.tabcontent p span {
  font-weight: normal;
}

#details {
  font-size: 0.85em;
}
